
body {
    width : 100vw;
    height : 100vh;

    margin : 0px;
    margin-top : -32px;
} .app-navbar {
    height : 15vh;

    background-color : #DFDFDF;
} .app-navbar-list {
    height : 100%;

    display : flex;
    justify-content : space-around;
    align-items : center;

    font-size : 200%;
    text-decoration : none;
} .app-navbar-list-image {
    width : auto;
    height : 10vh;
} .app-navbar-list-link {
    font-weight : bold;
    text-decoration : none;
    color : black;
} .app-section {
    margin : 0px 25vw;
} .horizontal-flex {
    display : flex;
    width : 100%;
} .vertical-margin {
    margin : 64px 0px;
} .horizontal-padding {
    padding : 0px 20px;
} .width-50 {
    width : 50%;
} .button {
    width : 100%;

    padding : 16px;

    background-color : #007FFF;

    border-radius : 16px;
} .text-center {
    text-align : center;
} .text-justify {
    text-align : justify;
}
