
body {
    width : 100vw;
    height : 100vh;

    margin : 0px;
} .app-navbar {
    min-height : 15vh;

    display : flex;
    align-items : center;

    background-color : #DFDFDF;
} .app-navbar-list {
    display : flex;
    flex-direction : column;


    height : 100%;

    padding : 0px;

    font-size : 200%;
    text-decoration : none;
} .app-navbar-list-link {
    margin-left : 32px;
    justify-content : center;

    font-weight : bold;
    text-decoration : none;
    color : black;
} .app-section {
    margin : 0px 25vw;
} .app-section-table {
    width : 100%;

    border-collapse : collapse;
    border : solid black;
} .app-section-item {
    padding : 16px;

    border : solid 1px grey;
} .app-card {
    margin : 64px 0px;

    background-color : #DFDFDF;
    border : solid black;
    border-radius : 16px;
} .width-auto {
    width : auto;
    height : 10vh;
} .width-66 {
    width : 66%;
} .width-50 {
    width : 50%;
} .width-33 {
    display : flex;
    justify-content : center;

    width : 33%;
} .height-auto {
    width : 100%;
    height : auto;
} .horizontal-flex {
    display : flex;
    width : 100%;
} .margin {
    margin : 16px;
} .vertical-margin {
    margin : 64px 0px;
} .horizontal-padding {
    padding : 0px 20px;
} .vertical-padding {
    padding : 20px 0px;
} .start-button {
    width : 100%;

    padding : 16px;

    background-color : #007FFF;

    border-radius : 16px;
} .text-center {
    text-align : center;
} .text-justify {
    text-align : justify;
}
